# Directories to ignore
lib/
build/
.private/

# General file extensions to ignore
*.backup
*.bak
*.bat
*.btm
*.db
*.dll
*.exe
*.exp
*.gch
*.ilk
*.ini
*.lib
*.ninja
*.obj
*.ocx
*.opendb
*.pch
*.pdb
*.pgc
*.pgd
*.res
*.rtf
*.tmp
*.txt
*.zip

# CodeBlock files
*.cbp
*.depend
*.layout

# CodeLite files
.codelite/
*.project
*.workspace

# Visual Studio files and folders
# Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
.vs/
Backup*/
_UpgradeReport_Files/
ipch/

*.VC.VC.opendb
*.VC.db
*.aps
*.cachefile
*.coverage
*.coveragexml
*.filters
*_h.h
*_i.c
*.iobj
*.ipdb
*.log
*.meta
*.ncb
*.opensdf
*.opt
*_p.c
*.pgc
*.pgd
*.plg
*.psess
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.sln
*.sln.docstates
*.sln.docstates
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.userosscache
*.vbw
*.vcproj
*.vcxproj
*.vsp
*.vspscc
*.vspx
*.vssscc
